.book_info{
    margin-left: auto;
    margin-right: auto;
}

.sinopsis {
    margin-left: 100px;
    margin-right: 100px;
    text-align:justify;
}

.purchase_link{
    background-color: orange;
    text-align: center;
}