<h1>COMPRA Y DESCARGA</h1>

<div>
    <table class="book_info">
        <tr>
            <td rowspan="5"><img src="/assets/{{this.libro?.ISBN}}.jpg" width = "200"></td>
            <td>&nbsp;</td>
        </tr>
    
        <tr>
            <td>    </td>
            <td ><h1>Va a comprar {{this.libro?.titulo}} de {{this.libro?.autor}}</h1>
                <h1>Su compra será de {{this.libro?.precio}}€</h1>
                <p>Con la tarjeta: </p>
                <p><b>**** **** **** 6897</b></p></td>
        </tr>

        <tr>
            <td>    </td>
            <div>
                <h1>¿Está seguro de que quiere continuar con la compra?</h1>
                <div class="purchase_link">
                    <a routerLink="/book_info">CANCELAR</a>
                    &nbsp;&nbsp;
                    <a routerLink="/transfer_book">CONFIRMAR</a>
                </div>
            </div>
           
        </tr>
    </table>
</div>



