<div id="header-home">
    
    <img id="logo" src="/assets/logo.png">

    <button id="btn-atras" routerLink="/">
        <img id="flecha" src="/assets/flecha.png">
        <h1>ATRÁS</h1>
    </button>
    <div id="option">
        <img class="img-option" src="/assets/perfil.png">
        <img class="img-option" src="/assets/x.png">
    </div>
</div>

<div class="compraydescarga">
    
    <div class="infolibro">
        <div id="titautor">
            <h2>Va a comprar {{this.libro?.titulo}} de {{this.libro?.autor}}</h2>
            <h3>Su compra será de {{this.libro?.precio}}€</h3>
        </div>
    <div class="infocompra">
        
        <div id="fotolibro"><img id="libro" src="/assets/{{this.libro?.ISBN}}.jpg"></div>
        <div id="infocompra2">
            <div id="tarjeta">
                <p>Con la tarjeta: </p>
                <p><b>**** **** **** 6897</b></p>
            </div>
            <div id="btncompra">
                
                    <a routerLink="/book_info">
                        <div id="btn-cancelar">CANCELAR</div>
                    </a>
                
                    <a routerLink="/transfer_book"><div id="btn-confirmar">CONFIRMAR</div></a>
                </div>
            </div>
        </div>
    </div>
    </div>






