

<div id="header-home">
    <div class="navbar-is-dark">
        <div id="navbar-brand">
            <a class="navbar-item" id="left-item" routerLink="/"> 
                <img class="img-menu" src="/assets/mensaje.png">
            </a>
            <div id="navbar-logo">
                <div id="navbar-logo2">
                <img id="logo" src="/assets/logo.png" routerLink="/">
                </div>
            </div>
            <a class="navbar-item" id="right-item" routerLink="/"> 
                <img class="img-menu" src="/assets/noticia.png">
            </a>
        </div>
        <div id="option">
            <img class="img-option" src="/assets/perfil.png">
            <img class="img-option" src="/assets/x.png">
        </div>
    </div>
    
    </div>
    <!--
    <div class="buscador">
        <h2>Introduce tú búsqueda: </h2>
        <buscador></buscador>
    </div>-->

    <div id="search">
        <input id="search-bar" type="text" placeholder="   Introduzca su busqueda">
        <i class="material-icons w3-xxlarge">search</i>
    </div>

    <div class="catalogo">
        <div class="titulo-cat"><p>NOVEDADES:</p></div>
        <div class="lista-libros">
            <div class = "Row">
            <img id="flechai" class="img-libro" src="/assets/flechaderecha.png" >
            <div *ngFor = "let libro of libros" class="Column">
                <img src = "/assets/{{libro.ISBN}}.jpg" class="img-libro" (click)="onClickImage(libro)">
            </div>
    
            <img id="flechad" class="img-libro" src="/assets/flechaderecha.png" >
        </div>
        </div>
    </div>
    <div id="lista2" class="catalogo">
        <div class="titulo-cat"><p>SEGUN TUS GUSTOS:</p></div>
        <div class="lista-libros">
            <div>
            <div class = "Row">
                <img id="flechai" class="img-libro" src="/assets/flechaderecha.png" >
                <div *ngFor = "let libro of libros" class="Column">
                    <img src = "/assets/{{libro.ISBN}}.jpg" class="img-libro" (click)="onClickImage(libro)">
                </div>
            <img id="flechad" class="img-libro" src="/assets/flechaderecha.png" >
        </div>
        </div>
    </div>