

<div id="header-home">
    <div class="navbar-is-dark">
        <div id="navbar-brand">
            <a class="navbar-item" id="left-item" routerLink="/"> 
                <img class="img-menu" src="/assets/mensaje.png">
            </a>
            <div id="navbar-logo" routerLink="/">
                <div id="navbar-logo2">
                <img id="logo" src="/assets/logo.png">
                </div>
            </div>
            <a class="navbar-item" id="right-item" routerLink="/"> 
                <img class="img-menu" src="/assets/noticia.png">
            </a>
        </div>
        <div id="option">
            <img class="img-option" src="/assets/perfil.png">
            <img class="img-option" src="/assets/x.png">
        </div>
    </div>
    
    </div>
    <!--
    <div class="buscador">
        <h2>Introduce tú búsqueda: </h2>
        <buscador></buscador>
    </div>-->

    <div id="search">
        <input id="search-bar" type="text" placeholder="   Introduzca su busqueda">
        <i class="material-icons w3-xxlarge">search</i>
    </div>

    <div class="catalogo">
        <div class="titulo-cat"><p>NOVEDADES:</p></div>
        <div class="lista-libros">
            <div>
            <img id="flechai" class="img-libro" src="/assets/flechaderecha.png" >
            <img routerLink="/book_info" class="img-libro" src="/assets/portadalibro.jpg" >
            <img routerLink="/book_info" class="img-libro" src="/assets/portadalibro2.jpg" >
            <img routerLink="/book_info" class="img-libro" src="/assets/portadalibro3.jpg" >
            <img routerLink="/book_info" class="img-libro" src="/assets/8478884459.jpg" >
            <img routerLink="/book_info" class="img-libro" src="/assets/portadalibro2.jpg" >
            <img routerLink="/book_info" class="img-libro" src="/assets/9788478884957.jpg" >
            <img id="flechad" class="img-libro" src="/assets/flechaderecha.png" >
        </div>
        </div>
    </div>
    <div id="lista2" class="catalogo">
        <div class="titulo-cat"><p>SEGUN TUS GUSTOS:</p></div>
        <div class="lista-libros">
            <div>
            <img id="flechai" class="img-libro" src="/assets/flechaderecha.png" >
            <img routerLink="/book_info" class="img-libro" src="/assets/8478884459.jpg" >
            <img routerLink="/book_info" class="img-libro" src="/assets/portadalibro.jpg" >
            <img routerLink="/book_info" class="img-libro" src="/assets/9788478884957.jpg" >
            <img routerLink="/book_info" class="img-libro" src="/assets/portadalibro3.jpg" >
            <img routerLink="/book_info" class="img-libro" src="/assets/portadalibro2.jpg" >
            <img routerLink="/book_info" class="img-libro" src="/assets/8478884459.jpg" >
            <img id="flechad" class="img-libro" src="/assets/flechaderecha.png" >
        </div>
        </div>
    </div>